{% extends 'base.html' %}  <!-- 전에 만들어놓은 base.html(뼈대)를 가져온다. 이걸 사용하면, 가운데만 바꿀 수 있게-->
{% load bootstrap4 %}

{% block content%}

    <div>
        <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
            <p>
                {{ target_user.date_joined }} 가입시점
            </p>
            <h2 style="font-family: 'NanumSquareB'">
                어서오세요 {{ target_user.username }}님
            </h2>

            {% if target_user == user %}  <!--만약 target유저가 접속한 유저와 같다면 이것을 보여준다. -->
            <a href="{% url 'accountapp:update' pk=user.pk %}">  <!--버튼을 누르면 ~~~~/update/___로 이동-->
                <p>
                    사용자 정보를 수정하려면 클릭하시오
                </p>
            </a>

            <a href="{% url 'accountapp:delete' pk=user.pk %}">   <!--버튼을 누르면 ~~~~/delete/___로 이동-->
                <p>
                    탈퇴하기
                </p>
            </a>

            {% endif %}

        </div>
    </div>


{% endblock %}