{% extends 'base.html' %}  <!-- 전에 만들어놓은 base.html(뼈대)를 가져온다. 이걸 사용하면, 가운데만 바꿀 수 있게-->

{% block content%}

     <div style="height: 20rem; background-color: #38df81; border-radius: 1rem; margin: 2rem">
         <h1>
             testingsssssss
         </h1>

        <!-- post를 쓰려면 form을 써야한다.-->
         <form action="/account/hello_world2/" method="post">
            {% csrf_token %}

            <input type="submit" class="btn btn_primary" value="POST~~~!">
         </form>

         <h1>
             {{ text }}
         </h1>

     </div>

{% endblock %}