{% extends 'base.html' %}  <!-- 전에 만들어놓은 base.html(뼈대)를 가져온다. 이걸 사용하면, 가운데만 바꿀 수 있게-->

{% block content%}

     <div style="border-radius: 1rem; margin: 2rem; text-align: center">
         <h1 class="pragmatic_logo">
            Hello world List!
         </h1>

        <!-- post를 쓰려면 form(데이터 꾸러미)을 써야한다.-->
         <form action="/account/hello_world2/" method="post">     <!--  해당 주소로 post매소드 사용해서 보내겠다 -->
            {% csrf_token %}
            <div> <!-- 서버로 보낼 내용-->
                <input type="text" name="hello_world_input">         <!--name?구분자! input에 hello_world_input이름 데이터를 담아서 서버로 보냄 -->
            </div>

            <input type="submit" class="btn btn_primary" value="POST">  <!-- 버튼 설정-->
         </form>

         {% if hello_world_list %}   <!-- 만약 hello_world_list가 있다면,  h1을 생성해라-->
            {% for hello_world in hello_world_list %}
            <h4>
                {{ hello_world.text }}
            </h4>
            {% endfor %}
         {% endif %}

     </div>

{% endblock %}

<!--<h1 class="pragmatic_logo">Pragmatic</h1>
            style="font-family: 'Lobster', cursive;"-->